{% extends "base.html" %} {% block content %}
<style>
  .centered-text {
    text-align: center; /* Aligns text in the center */
  }
</style>
<div class="centered-text"><h2>The Great Application Quest</h2></div>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Status</th>
      <th>Applied Date</th>
      <th>Interview Date</th>
      <th>Reminder</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{ job[1] }}</td>
      <td>{{ job[2] }}</td>
      <td>{{ job[3] }}</td>
      <td>{{ job[4] }}</td>
      <td>{{ job[5] or 'N/A' }}</td>
      <td>{{ job[6] or 'N/A' }}</td>
      <td>
        <a href="{{ url_for('edit_job', id=job[0]) }}">Edit</a>
        <a href="{{ url_for('delete_job', id=job[0]) }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
